<div class="md-copyright">
    <div class="md-copyright__highlight" style="display: inline-block;">
	    Copyright &copy; {{ build_date_utc.strftime('%Y') }} CrowdStrike Inc. 
    </div>
    <div style="display: inline-block; margin-left: 1em" >
	    <h4><a href="https://www.crowdstrike.com/contact-us"/>Contact Us</a></h4>
    </div>
    <div style="display: inline-block; margin-left: 1em;">
            <h4><a href="https://www.crowdstrike.com/privacy-notice"/>Privacy</a></h4>
    </div>
</div>
