name: "Update GitHub repo data"
on:
  schedule:
  - cron: "0 0 1 * *"
  push:
    branches: [ main ]

jobs:
  repo_list_update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git 
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install python3-github
        run: sudo apt install python3-github

      - name: Update repos.yaml
        run: |
          ./scripts/generate-github-data.py -o ./data/repos.yaml -t ${{ secrets.GITHUB_TOKEN }}
          git add ./data/repos.yaml
          if git diff-index --quiet HEAD --; then
            echo "Skipping... nothing to commit"
            exit 0
          else
            git commit -m "Updating repos.yaml metadata as of `date +'%Y-%m-%d %H:%M:%S'`"
            git push
          fi
